@media (prefers-color-scheme: dark) {:root {
  --fg: #bbb; --bg: #000;
  --gray1: #888; --gray2: #fff; --gray3: #444; --gray4: #222;
  --blue: #498; --yellow: #880; --green: #342;}
  #dieBG, #rotationBG, #colorsBG, #spotifyBG, #latticeBG, #airwavesBG, #bitsBG, #trafficBG {fill: #000;}
  #dieRect1 {fill: #999;}
  #colorsPathRd {stroke: #666;} #colorsPathGn {stroke: #444} #colorsPathBl {stroke: #333;}
  #rotationPathGridBG {stroke: #222;} #rotationPathGridFG {stroke: #333;} #rotationCircUtCr, #rotationPathAxes {stroke: #666;}
  #rotationCircCntr, #rotationCircPoRe, #rotationCircPoIm, #rotationCircNeRe, #rotationCircNeIm {fill: #999;}
  #rotationLineNum1, #rotationLineNum2 {stroke: #ccc;} #rotationCircNum1, #rotationCircNum2 {fill: #ccc;}
  #spotifyGroupCircles {fill: #6669;} #spotifyCircMain {fill: #999;}
  #latticePathDotsBG {stroke: #333;} #latticePathDotsFG {stroke: #666;}
  #latticeLineXBase, #latticeLineYBase {stroke: #ccc;} #latticeCircXBase, #latticeCircYBase, #latticeCircCntr {fill: #ccc;}
  #airwavesGroupParticles {stroke: #666;} #airwavesPathWave {stroke: #999;}
  #bitsGroupLines {stroke: #999;}
  #trafficRectRoad {fill: #333;} #trafficPathDivL, #trafficPathDivR {fill: #999;} #trafficPathBar {stroke: #999;}
  #trafficRectBox1, #trafficRectBox2 {fill: #222;}
  #trafficCircRd1, #trafficCircYl1, #trafficCircGn1, #trafficCircRd2, #trafficCircYl2, #trafficCircGn2 {fill: #ccc;}
}
